<a href="https://colab.research.google.com/github/JemRanin/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#If Statement
a = 100
b = 100
if a < b:
  print ("a is less than b")

In [16]:
#Elif Statement
if a<b:
  print('a is less than b')
elif a>b:
   print("a is greater than b")

a is less than b

In [20]:
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is equal to b

In [21]:
#Short Hand If Statement
c = 5
d = 10
if c<d: print("c<d")

c<d

In [23]:
#Short Hand If Else Statement
print('c<d') if c>d else print ('d>c')

d>c

In [24]:
#And Statement
if 5>10 and 8>4:
  print("both statement are true")
else:
  print("One of the operands statement is false / both statements are not true")

One of the operands statement is false / both statements are not true

In [25]:
#Or Statement
if 5>10 or 8>4:
  print('True')
else:
  print('False')

True

In [26]:
#Bitwise Operator ^ (xor)
e = 4     #0100 in binary
f = 2
e^f

6

In [28]:
#Nested If
x = 39
if x > 10:
  print("number is above ten")
  if x > 20:
    print("number is above 20")
    if x > 30:
      print("number is above 30")
      if x > 40:
        print("number is above 40")
        if x > 50:
          print("number is above 50")
        else:
           print("the number is less than 50")
      else:
        print("the number is less than 40")

number is above ten
number is above 20
number is above 30
the number is less than 40

In [32]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [33]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [34]:
for y in "week":
  print(y)

w
e
e
k

In [35]:
#Range in Function
for x in range (6):
  print(x)

0
1
2
3
4
5

In [36]:
for x in range (2,6+1,1):
  print(x)

2
3
4
5
6

In [37]:
adjective = ["red", "big", "tasty"]
fruit = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruit:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [38]:
i = 1
while i <= 6:
  print (i)
  i += 1 #1 = 1+1

1
2
3
4
5
6

ACTIVITY

In [39]:
#Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above

x = 18
age = input("Enter your Age:")
if int(age)>=x:
  print("You can vote now.")
else:
  print( "You are not allowed to vote.")

Enter your Age:20
You can vote now.

In [40]:
#Application 2. Write a program that determines if the input is POSITIVE, NEGATIVE, or ZERO

num = input("Enter number: ")
if int(num) > 0:
  print("IT IS POSITIVE!")
elif int(num) < 0:
  print("IT IS NEGATIVE!")
else:
  print("IT IS ZERO!")

Enter number: 5
IT IS POSITIVE!

In [47]:
#Using while loop and break statement, the output is only 3
i = 1
while i <= 6:
    if i == 3:
      print(i)
      break

    i += 1

3